@model IEnumerable<FundRaiser.Options.ProjectOption>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        height :10em;
        width : 40em;
    }
</style>

<br />
<h3 class="text-success">Trending Projects</h3>
<hr />
<div class="row justify-content-center">
    @foreach (var item in Model)

    {
            <div class="card m-3 justify-content-center" style="width: 18rem;">
                <img class="card-img-top img-fluid img-thumbnail justify-content-center" src="@Html.DisplayFor(modelItem => item.Logo)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text te">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a class="btn btn-primary" asp-controller="ProjectPage" asp-action="Details" asp-route-id="@item.ProjectId">View Details</a>
                </div>
            </div>
        
    }
</div>
<hr /><br />
            