@using FundRaiser.Model
@using FundRaiser.Options
@model FundRaiser.Web.Models.CreateProjectViewModel

@{
    ViewData["Title"] = "View";
}

<h3 class="text-info">Create a Project</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ProjectOption.Category" class="control-label"></label>
                        <select asp-for="ProjectOption.Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control" required>
                            <option selected="selected" value="" disabled>Please select</option>
                        </select>
                        <span asp-validation-for="ProjectOption.Category" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ProjectOption.Title" class="control-label">Project Title:</label>
                        <input asp-for="ProjectOption.Title" class="form-control" required />
                        <span asp-validation-for="ProjectOption.Title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ProjectImage" class="control-label">Project Image:</label>
                        <input asp-for="ProjectImage" class="form-control" id="ProjectPostImage" />
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ProjectOption.Description" class="control-label"></label>
                        <textarea asp-for="ProjectOption.Description" class="form-control" required></textarea>
                        <span asp-validation-for="ProjectOption.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-6">
                    <div class="form-group">
                        <label asp-for="ProjectOption.SetGoal" class="control-label"></label>
                        <input type="number" asp-for="ProjectOption.SetGoal" class="form-control" required />
                        <span asp-validation-for="ProjectOption.SetGoal" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-6">
                    <div class="form-group">
                        <label asp-for="ProjectOption.StartDate" class="control-label"></label>
                        <input asp-for="ProjectOption.StartDate" class="form-control" required />
                        <span asp-validation-for="ProjectOption.StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="form-group">
                        <label asp-for="ProjectOption.EndDate" class="control-label"></label>
                        <input asp-for="ProjectOption.EndDate" class="form-control" required />
                        <span asp-validation-for="ProjectOption.EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <h3 class="text-info">Please add project rewards</h3>
            <br />
            <h5 class="text-muted">1st Reward</h5>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="RewardOptions[0].Title" class="control-label"></label>
                        <input asp-for="RewardOptions[0].Title" class="form-control" required />
                        <span asp-validation-for="RewardOptions[0].Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="RewardOptions[0].AmountRequired" class="control-label"></label>
                        <input type="number" asp-for="RewardOptions[0].AmountRequired" class="form-control" required />
                        <span asp-validation-for="RewardOptions[0].AmountRequired" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="RewardOptions[0].Description" class="control-label"></label>
                        <input asp-for="RewardOptions[0].Description" class="form-control" required />
                        <span asp-validation-for="RewardOptions[0].Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <h5 class="text-muted">2nd Reward</h5>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="RewardOptions[1].Title" class="control-label"></label>
                        <input asp-for="RewardOptions[1].Title" class="form-control" required />
                        <span asp-validation-for="RewardOptions[1].Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="RewardOptions[1].AmountRequired" class="control-label"></label>
                        <input type="number" asp-for="RewardOptions[1].AmountRequired" class="form-control" required />
                        <span asp-validation-for="RewardOptions[1].AmountRequired" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="RewardOptions[1].Description" class="control-label"></label>
                        <input asp-for="RewardOptions[1].Description" class="form-control" required />
                        <span asp-validation-for="RewardOptions[1].Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
